.wishlist{
    .list-product{
        border-radius: 30px;
        background: $white;
        box-shadow: $shadow;
        overflow: hidden;
        display: flex;
        align-items: center;
        // gap: 24px;
        @media(max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            padding: 0 0 24px 0;
            border-radius: 15px;
        }
        @media(max-width: 768px) {
            align-items: center;
        }
        img{
            @media(max-width: 992px) {
                border-radius: 0 0 15px 0;
            }
            @media(max-width: 768px) {
                border-radius: 0 0 15px 15px;
            }

        }
        .content{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 24px;
            @media(max-width: 768px) {
                flex-wrap: wrap;
                gap: 16px;
            }
            .frame{
                display: flex;
                align-items: flex-start;
                gap: 22px;
                flex-direction: column;
                @media(max-width: 768px) {
                    gap: 16px;
                }
                &.center{
                    align-items: center;
                }
                .name{
                    display: flex;
                    align-items: flex-start;
                    gap: 8px;
                }
            }
            .bin{
                &:hover{
                    stroke: $accent-1;
                }
            }
        }
    }
}