.notification {
    padding: 10px;
}

.notification .close {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.notification .close i {
    color: #dc3545;
    font-size: inherit;
    line-height: inherit;
}
